*, *::before, *::after {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
}
body{
  background-color: rgb(231, 229, 229);
  margin-left: 0px;
  margin-right: 0px;

}

main{
  margin: 20px;
}
.image-container1 img{
  margin-left: auto;
  width: 120px;
  height: 120px;
  object-position: top;
  margin-left: 15px;
  
}

header{
  background-color: #a4c3d2;
  height:120px;
  
}

.navbar{
  align-items: center;
}

.navbar ul{
 list-style-type: none;
 background-color: #96B9D0;
 padding: 0px;
 margin: 0px;
 overflow: hidden;
 display: flex;
 justify-content: center;
 text-align: center;
}

.navbar a{
 color: white;
 text-decoration: none;
 padding: 20px;
 display: flex;
 text-align: center;
 

}

.navbar a:hover{
  background-color: #304674;

}

.navbar li{
  float: left;
  
}